*{
  margin:0;
  padding:0;
}

html,
body {
  font-size: 14px;
  height: 100%;
}
      
.navbar {
  border-radius: 0;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}

.row {
  margin-bottom: 50px;
}
      
.icon {
  text-align: center;
}
      
.icon .glyphicon {
  margin-bottom: 10px;
  font-size: 40px;
  color: #777;
}
      
.content h2 {
  margin-top: 0;
  padding-bottom: 15px;
}
.content p {
  margin-bottom: 30px;
}
      
footer {
  border-top: 1px solid#e7e7e7;
  background-color: #f8f8f8;
  text-align: center;
}
      
.copyright {
  padding: 20px 0;
  font-size: 12px;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
}

      
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .panel-title {
    font-size: 14px;
  }
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}